* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddc4e0;
    font-family: 'Poppins', sans-serif;
}


/* Header =========================*/

header {
    background: #2d0f3f;
    padding-right: ;
}

header h1 {}