* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddc4e0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 300px;
    margin: auto;
}


/* Header =========================*/

header {
    background: #2d0f3f;
    padding: 2rem 0;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}


/* Balance=======================*/


/*Footer=========================*/